@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
    &--primary {
        color: variables.$nude;
        background-color: variables.$textColor2;
        border-radius: 10px;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        font-size: 15px;
        display: flex;
        align-items: center;

        &--primary {
            margin: 5px;
        }
        
    }
}